In [1]:
import pandas as pd
import numpy  as np

# Tasks: 
#### 1.What is the northernmost airport in the United States?
#### 2.What is the easternmost airport in the United States?
#### 3.On February 12th, 2013, which New York area airport had the windiest weather?

In [2]:
# Pulling Airports data from Github link into a DF
airportsdata = pd.read_csv('https://raw.githubusercontent.com/hadley/nycflights13/master/data-raw/airports.csv')

In [3]:
# Specifying what columns are needed in airports DF
airportsdf = pd.DataFrame(
    airportsdata,
    columns=[
        'faa',
        'name',
        'lat',
        'lon',
        'alt',
        'tz',
        'dst',
        'tzone'
    ],
)

In [4]:
print(airportsdf)

      faa                           name        lat         lon   alt  tz dst  \
0     04G              Lansdowne Airport  41.130472  -80.619583  1044  -5   A
1     06A  Moton Field Municipal Airport  32.460572  -85.680028   264  -6   A
2     06C            Schaumburg Regional  41.989341  -88.101243   801  -6   A
3     06N                Randall Airport  41.431912  -74.391561   523  -5   A
4     09J          Jekyll Island Airport  31.074472  -81.427778    11  -5   A
...   ...                            ...        ...         ...   ...  ..  ..
1453  ZUN                     Black Rock  35.083228 -108.791778  6454  -7   A
1454  ZVE         New Haven Rail Station  41.298669  -72.925992     7  -5   A
1455  ZWI      Wilmington Amtrak Station  39.736667  -75.551667     0  -5   A
1456  ZWU       Washington Union Station  38.897460  -77.006430    76  -5   A
1457  ZYP                   Penn Station  40.750500  -73.993500    35  -5   A

                 tzone
0     America/New_York
1      America/Chicago
2      America/Chicago
3     America/New_York
4     America/New_York
...                ...
1453    America/Denver
1454  America/New_York
1455  America/New_York
1456  America/New_York
1457  America/New_York

[1458 rows x 8 columns]

In [5]:
# Sorting DF by 'lat' (Latitude) by descending order to have northnermost locations, selecting top 5 entries.
airportsdf.sort_values(by='lat', ascending=False).head(5)

,faa,name,lat,lon,alt,tz,dst,tzone
417,EEN,Dillant Hopkins Airport,72.270833,42.898333,149,-5,A,NaN
230,BRW,Wiley Post Will Rogers Mem,71.285446,-156.766003,44,-9,A,America/Anchorage
110,AIN,Wainwright Airport,70.638056,-159.994722,41,-9,A,America/Anchorage
708,K03,Wainwright As,70.613378,-159.860350,35,-9,A,America/Anchorage
152,ATK,Atqasuk Edward Burnell Sr Memorial Airport,70.467300,-157.436000,96,-9,A,America/Anchorage

## 1. The northernmost airport is Dillant Hopkins Airport.

In [6]:
# Sorting DF by 'lon' (Longitude) by descending order to have easternmost locations, selecting top 5 entries.
airportsdf.sort_values(by='lon', ascending=False).head(5)

,faa,name,lat,lon,alt,tz,dst,tzone
1290,SYA,Eareckson As,52.712275,174.113620,98,-9,A,America/Anchorage
942,MYF,Montgomery Field,32.475900,117.759000,17,8,A,Asia/Chongqing
396,DVT,Deer Valley Municipal Airport,33.411700,112.457000,1478,8,A,Asia/Chongqing
417,EEN,Dillant Hopkins Airport,72.270833,42.898333,149,-5,A,NaN
444,EPM,Eastport Municipal Airport,44.910111,-67.012694,45,-5,A,America/New_York

## 2. The easternmost airport is Eareckson As

In [7]:
# Pulling Weather data from Github link into a DF
weatherdata = pd.read_csv('https://raw.githubusercontent.com/hadley/nycflights13/master/data-raw/weather.csv')

In [8]:
# Specifying what columns are needed in weather DF
weatherdf = pd.DataFrame(
    weatherdata,
    columns=[
        'origin',
        'year',
        'month',
        'day',
        'hour',
        'temp',
        'dewp',
        'humid',
        'wind_dir',
        'wind_speed',
        'wind_gust',
        'precip',
        'pressure',
        'visib',
        'time_hour'
    ],
)

In [9]:
print(weatherdf)

      origin  year  month  day  hour   temp   dewp  humid  wind_dir  \
0        EWR  2013      1    1     1  39.02  26.06  59.37     270.0
1        EWR  2013      1    1     2  39.02  26.96  61.63     250.0
2        EWR  2013      1    1     3  39.02  28.04  64.43     240.0
3        EWR  2013      1    1     4  39.92  28.04  62.21     250.0
4        EWR  2013      1    1     5  39.02  28.04  64.43     260.0
...      ...   ...    ...  ...   ...    ...    ...    ...       ...
26110    LGA  2013     12   30    14  35.96  19.94  51.78     340.0
26111    LGA  2013     12   30    15  33.98  17.06  49.51     330.0
26112    LGA  2013     12   30    16  32.00  15.08  49.19     340.0
26113    LGA  2013     12   30    17  30.92  12.92  46.74     320.0
26114    LGA  2013     12   30    18  28.94  10.94  46.41     330.0

       wind_speed  wind_gust  precip  pressure  visib             time_hour
0        10.35702        NaN     0.0    1012.0   10.0  2013-01-01T06:00:00Z
1         8.05546        NaN     0.0    1012.3   10.0  2013-01-01T07:00:00Z
2        11.50780        NaN     0.0    1012.5   10.0  2013-01-01T08:00:00Z
3        12.65858        NaN     0.0    1012.2   10.0  2013-01-01T09:00:00Z
4        12.65858        NaN     0.0    1011.9   10.0  2013-01-01T10:00:00Z
...           ...        ...     ...       ...    ...                   ...
26110    13.80936   21.86482     0.0    1017.1   10.0  2013-12-30T19:00:00Z
26111    17.26170   21.86482     0.0    1018.8   10.0  2013-12-30T20:00:00Z
26112    14.96014   23.01560     0.0    1019.5   10.0  2013-12-30T21:00:00Z
26113    17.26170        NaN     0.0    1019.9   10.0  2013-12-30T22:00:00Z
26114    18.41248        NaN     0.0    1020.9   10.0  2013-12-30T23:00:00Z

[26115 rows x 15 columns]

In [23]:
#2/12/2013
requesteddatedf = weatherdf[
    (weatherdf['year'].isin(['2013'])) & 
    (weatherdf['month'].isin(['2'])) & 
     (weatherdf['day'].isin(['13']))
     ]

In [24]:
print(requesteddatedf)

      origin  year  month  day  hour   temp   dewp  humid  wind_dir  \
1030     EWR  2013      2   13     0  32.00  23.00  69.04     240.0
1031     EWR  2013      2   13     1  33.08  23.00  66.11     260.0
1032     EWR  2013      2   13     2  30.92  23.00  72.12       0.0
1033     EWR  2013      2   13     3  30.92  23.00  72.12     270.0
1034     EWR  2013      2   13     4  30.92  23.00  72.12     310.0
...      ...   ...    ...  ...   ...    ...    ...    ...       ...
18458    LGA  2013      2   13    19  39.02  30.02  69.86      40.0
18459    LGA  2013      2   13    20  37.04  30.02  75.50      50.0
18460    LGA  2013      2   13    21  37.04  28.04  69.63      50.0
18461    LGA  2013      2   13    22  37.40  30.92  81.72     360.0
18462    LGA  2013      2   13    23  35.60  30.92  88.42     360.0

       wind_speed  wind_gust  precip  pressure  visib             time_hour
1030      5.75390        NaN    0.00    1013.9   10.0  2013-02-13T05:00:00Z
1031      6.90468        NaN    0.00    1014.5   10.0  2013-02-13T06:00:00Z
1032      0.00000        NaN    0.00    1014.3   10.0  2013-02-13T07:00:00Z
1033      3.45234        NaN    0.00    1013.6   10.0  2013-02-13T08:00:00Z
1034      4.60312        NaN    0.00    1012.7   10.0  2013-02-13T09:00:00Z
...           ...        ...     ...       ...    ...                   ...
18458     8.05546        NaN    0.00    1005.8   10.0  2013-02-14T00:00:00Z
18459     6.90468        NaN    0.00    1005.9    9.0  2013-02-14T01:00:00Z
18460     4.60312        NaN    0.00    1005.9   10.0  2013-02-14T02:00:00Z
18461    10.35702        NaN    0.00       NaN   10.0  2013-02-14T03:00:00Z
18462    11.50780        NaN    0.01       NaN    6.0  2013-02-14T04:00:00Z

[72 rows x 15 columns]

In [25]:
# Sorting DF by 'wind_speed' by descending order to have the windiest locations, selecting top 5 entries.
requesteddatedf.sort_values(by='wind_speed', ascending=False).head(5)

,origin,year,month,day,hour,temp,dewp,humid,wind_dir,wind_speed,wind_gust,precip,pressure,visib,time_hour
9756,JFK,2013,2,13,23,35.60,30.02,81.65,350.0,14.96014,NaN,0.00,NaN,7.0,2013-02-14T04:00:00Z
1052,EWR,2013,2,13,22,37.40,28.94,73.80,360.0,12.65858,NaN,0.00,NaN,9.0,2013-02-14T03:00:00Z
18462,LGA,2013,2,13,23,35.60,30.92,88.42,360.0,11.50780,NaN,0.01,NaN,6.0,2013-02-14T04:00:00Z
18454,LGA,2013,2,13,15,42.08,26.06,52.73,160.0,11.50780,NaN,0.00,1007.3,10.0,2013-02-13T20:00:00Z
1053,EWR,2013,2,13,23,35.60,32.00,86.59,10.0,11.50780,NaN,0.02,NaN,4.0,2013-02-14T04:00:00Z

## 3. The windiest airport in the NY area on 2/13/13 was JFK